.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(190, 188, 188);
    background-color: rgba(255, 255, 255, 0.95); 
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 1;
}

.left-section {
    display: flex;
    align-items: center;
}

.hamburger-icon {
    height: 24px;
    margin-left: 24px;
    margin-right: 24px;
}

.yt-logo {
    height: 30px;
}

.middle-section {
    margin-left: 70px;
    margin-right: 35px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-search {
    max-width: 400px;
    flex: 1;
    width: 0;
    height: 40px;
    border-width: 1px;
    border-style: solid;
    border-color: grey;
    font-size: 16px;
    padding-left: 10px;
}

.search-button {
    height: 44px;
    width: 64px;
    border-width: 1px;
    border-style: solid;
    margin-left: -1px;
}

.search-icon {
    height: 25px;
}

.search-tooltip-container {
    cursor: pointer;
}

.search-tooltip-container .tooltip {
    position: absolute;
    background-color: rgb(143, 142, 142);
    color: white;
    font-size: 15px;
    margin-left: 5px;
    padding: 2px 4px;
    bottom: -35px;
    opacity: 0;
}

.search-tooltip-container:hover .tooltip {
    opacity: 0.9;
}

.voice-search-button {
    height: 45px;
    width: 50px;
    border: none;
    border-radius: 100%;
    margin-left: 20px;
}

.voice-search-icon {
    height: 25px;
}

.voice-search-tooltip-container {
    position: relative;
}

.voice-search-tooltip-container .tooltip {
    position: absolute;
    background-color: rgb(143, 142, 142);
    color: white;
    font-size: 15px;
    padding: 2px 4px;
    bottom: -35px;
    left: -35px;
    opacity: 0;
    width: 165px;
}

.voice-search-tooltip-container:hover .tooltip {
    opacity: 0.9;
}

.right-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    width: 182px;
}

.upload-icon {
    height: 24px;
}

.yt-apps-icon {
    height: 24px;
}

.notifications-container {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.notifications-icon {
    height: 24px;
    width: 24px; 
    display: block;
}

.notifications-count {
    position: absolute;
    top: -2px;
    right: -2px;
    
    background-color: rgb(200, 0, 0);
    color: white;
    font-family: Roboto, Arial, sans-serif;
    font-size: 8px;
    
    /* Make it a circle */
    padding: 2px 5px;
    border-radius: 10px;
    border: 2px solid white; /* Matches the header background */
}

.channel-icon {
    height: 32px;
    border-radius: 80px;
    object-fit: contain;
    margin-right: 20px;
    margin-left: 15px;
}