.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    height: 55px;
}

.left-section {
    width: 150px;
    background-color: pink;
}

.middle-section {
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    background-color: lightblue;
    max-width: 400px;
}

.right-section {
    width: 200px;
    background-color: pink;
}