.sidebar {
    position: fixed;
    top: 60px;
    bottom: 0;
    left: 0;
    width: 70px;
}

.sidebar-links {
    height: 70px;
    margin-bottom: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sidebar-links-img {
    width: 24px;
}

.sidebar-links-text {
    font-size: 10px;
    margin-top: 4px;
}

.sidebar-links:hover {
    background-color: lightgrey;
}