.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 15px;
}

img {
    width: 100%
}

.video-info-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
    column-gap: 15px;
    margin-top: 5px;
}

.video-channel-icon {
    border-radius: 100%;
}

.video-title {
    font-size: 15px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    line-height: 20px;
}

.video-channel-name, .video-stat {
    color: grey;
    font-size: 13px;
}

.video-channel-name {
    margin-top: 8px;
}

.thumbnail-row {
    position: relative
}

.video-time {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: black;
    color: white;
    font-size: 14px;
    padding: 2px 4px;
}