.send-button {
  background-color: green;
  color: white;
  width: 60px;
  height: 45px;
  border-radius: 10px;
  border: none;
}

.user-input {
  height: 26px;
  border-radius: 10px;
  margin-right: 5px;
  height: 41px;
  flex-grow: 1;
  padding-left: 12px;
}

.input-container {
  display: flex;
  margin-bottom: 10px;
}

.app-container {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: column;
  height: 100vh;
}

.msg-box-user {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: start;
  margin-top: 5px;
}

.msg-box-robot {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  margin-top: 5px;
}

.msg-box {
  background-color: lightgrey;
  padding: 12px 15px;
  margin-top: 2px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 10px;
}

.chat-messages-container {
  flex-grow: 1;
  margin-top: 10px;
  overflow: scroll;
  scrollbar-width: none;
}