.button-img {
    width: 50px;
}

.game-button {
    border-radius: 100%;
    padding: 20px;
    border: 2px solid white;
    background-color: rgb(25, 25, 25);
    cursor: pointer;
    margin-right: 10px;
    transition: transform 0.25s;
}

.game-button:hover {
    transform: scale(1.1);
}

.reset-button,
.auto-play-button {
    font-size: 1rem;
    padding: 15px 8px;
    cursor: pointer;
}
