
.game-container {
    border: 1px solid grey;
    padding: 20px 15px;
    border-radius: 20px;
    box-shadow: 0px 0px 8px rgba(240, 240, 240, 0.45);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.moves-button-container {
    margin-top: 20px;
}

.status-container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin: 20px 0px;
}
