.game-container {
    border: 1px solid grey;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    transition: transform 0.25s, box-shadow 0.25s;
}

.game-container:hover {
    transform: translateY(-6px);
    box-shadow: 0px 0px 8px rgba(240, 240, 240, 0.45);
}

.moves-button-container {
    margin-top: 20px;
}

.status-container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin: 20px 0px;
}
