html, body {
    margin: 0;
    height: 100%;
}

body {
    background-color: rgb(25, 25, 25);
    box-sizing: border-box;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: -0.05em;
}

h1 {
    margin: 0;
}

p {
    margin: 0;
}
